<h1>Add a director</h1>

<form action="/create_director">
<div>
<label for="image_url">
  Image URL
</label>
<input id="image_url" type="string" name="image_url">
</div>

<div>
<label for="name_input">
  Name
</label>
<input id="name_input" type="string" name="name">
</div>
<div>
<label for="bio_input">
  Bio
</label>
<input id="bio_input" type="text" name="bio">
</div>
<div>
<label for="dob_input">
  Date of Birth
</label>
<input id="dob_input" type="string" name="dob">
</div>

<div>
<button>Create Director</button>
</div>

</form>
